node_modules/
client/node_modules/
server/node_modules/

dist/
build/
client/dist/
server/dist/

.DS_Store
client/.DS_Store
server/.DS_Store

.env
.env.*
client/.env
server/.env

npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

downloads/